language: ruby
before_install: gem install bundler && bundle -v
install: bundle install --jobs=3 --retry=3
before_script: bundle install
script: bundle exec rake
rvm:
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
      gemfile: gemfiles/rails_5.2_stable.gemfile
    - rvm: 2.4.4
      gemfile: gemfiles/rails_4.2_stable.gemfile
    - rvm: 2.5.3
      gemfile: gemfiles/rails_4.2_stable.gemfile
gemfile:
  - gemfiles/rails_4.2_stable.gemfile
  - gemfiles/rails_5.0_stable.gemfile
  - gemfiles/rails_5.1_stable.gemfile
  - gemfiles/rails_5.2_stable.gemfile
