name: Test Suite

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        orm: [active_record, mongoid]
        rails: ["5.2", "6.0", "6.1"]
        ruby: ["2.6", "2.7", "3.0"] # TODO fix repo to work with ruby-head
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - uses: actions/cache@v2
        with:
          path: |
            **/bundle
          key:
            bundle-use-ruby-${{ matrix.ruby }}-rails-${{ matrix.rails }}-orm-${{
            matrix.orm }}-gemfile-${{
            hashFiles(format('**/gemfiles/rails_{0}.gemfile', matrix.rails))
            }}-gemspec-${{ hashFiles('**/devise-security.gemspec') }}
      - name: bundle install
        env:
          BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.rails }}.gemfile
        run: |
          bundle config path vendor/bundle
          bundle install
        # Mongoid is not compatible with Ruby 3.0 as of 7.2.2
        # Rails < 5.2 is not compatible with Ruby 3.0
        if:
          ${{ (!(matrix.orm == 'mongoid' && matrix.ruby >= '3.0')) &&
          !(matrix.rails < '6.0' && matrix.ruby >= '3.0' ) }}
      - name: Start MongoDB
        uses: superchargejs/mongodb-github-action@1.0.0
        if: ${{ matrix.orm == 'mongoid' }}
      - name:
          Tests for ORM ${{ matrix.orm }}, Rails ${{ matrix.rails }}, and Ruby
          ${{ matrix.ruby }}
        env:
          BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.rails }}.gemfile
          CI: true
          DEVISE_ORM: ${{ matrix.orm }}
        run: |
          bundle exec rake
        # Mongoid is not compatible with Ruby 3.0 as of 7.2.2
        # Rails < 5.2 is not compatible with Ruby 3.0
        if:
          ${{ (!(matrix.orm == 'mongoid' && matrix.ruby >= '3.0')) &&
          !(matrix.rails < '6.0' && matrix.ruby >= '3.0' ) }}
      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          flag-name:
            run-orm-${{ matrix.orm }}-rails-${{ matrix.rails }}-ruby-${{
            matrix.ruby }}
          parallel: true
          path-to-lcov: ./coverage/lcov/devise-security.lcov
        # Mongoid is not compatible with Ruby 3.0 as of 7.2.2
        # Rails < 5.2 is not compatible with Ruby 3.0
        if:
          ${{ (!(matrix.orm == 'mongoid' && matrix.ruby >= '3.0')) &&
          !(matrix.rails < '6.0' && matrix.ruby >= '3.0' ) }}

  finish:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
          path-to-lcov: ./coverage/lcov/devise-security.lcov
